@import "tailwindcss";
.input-style {
          border: 1px solid #ddd;
          padding: 8px;
          border-radius: 8px;
          width: 100%;
          box-shadow: 0 1px 2px rgba(0,0,0,0.05);
          transition: border-color 0.2s;
        }
        .input-style:focus {
          border-color: #4f46e5;
          outline: none;
        }
.search{
  
  border: 5px solid white;
  border-radius: 5px;
  font-size: 17px;
  color:black;
}
.btn1{
  border: 5px solid white;
  border-radius: 5px;
  margin:2px;
  padding:2px;
  margin-left:10px;
}

:root {
  --background-primary: #ffffff;
  --background-secondary: #05073c;
  --background-highlight: #eb662b;
  --text-primary: #e2ad64;
  --text-secondary: #e7e6e6;
  --text-transparent: #fdf0ea;

  --transparent: #717171;
  --text-dark: #000000;
  --text-gradient: #eb662b;
  --text-dark-gradient: #101010;
  --text-minmal-primary: #757575;
}

@theme{

  --color-background-primary: var(--background-primary);
  --color-background-secondary: var(--background-secondary);
  --color-background-highlight: var(--background-highlight);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-transparent: var(--text-transparent);
  --color-transparent: var(--text-dark);
  --color-text-dark: var(--text-gradient);
  --color-text-gradient: var(--text-dark-gradient);
  --color-text-dark-gradient: var(--text-minmal-primary);
}
.sidebar {
  width: 250px;
  background: #fff;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap:15px;
  min-height:90vh;
  padding: 30px 20px;
  box-shadow: 2px 0 10px rgba(0,0,0,0.05);
}

.logo {
  font-size: 24px;
  color: #2563eb;

}

.menu a, .tools a {
  display: block;
  column-gap: 25px;
  color: #666;
  text-decoration: none;
  margin: 10px 0;
  font-size: 15px;
  transition: color 0.3s;
}
.menu{
    column-gap:35px;
}

.menu a:hover, .tools a:hover {
  color: #2563eb;
}

.menu a.active {
  color: #2563eb;
  font-weight: 600;
}

.logout {
    display:end;
  margin-top: 20px;
  color: #999;
}

/* Main */
.main {
  flex: 1;
  padding: 40px;
  overflow-y: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.header  {
  font-size: 28px;
  margin-bottom: 85px;

  color: #666;
  max-width: 500px;
  font-size: 14px;
  line-height: 1.5;
}



